{% extends 'blog/base.html' %}

{% block title%}
Authors
{% endblock title %}

{% block content %}
<p class='title'>Authors</p>
<div>
	<table>
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>E-mail</th>
				<th>Date of birth</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
		{% for author in authors %}
			<tr>
				<th>{{ author.first_name }}</th>
				<th>{{ author.last_name }}</th>
				<th>{{ author.email }}</th>
				<th>{{ author.date_of_birth }}</th>
				<th><a href="{% url 'blog:author' author.id %}">Detail</a></th>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}