<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/content/style.css' %}">
    <title>Antihabr</title>
</head>
<body>
<ul class='nav'>
    <li class='nav'><a class='nav' href="{% url 'blog:index-page' %}">Blogs</a></li>
    <li class='nav'><a class='nav' href="{% url 'blog:posts' %}">Posts</a></li>
    <li class='nav'><a class='nav' href="{% url 'blog:authors' %}">Authors</a></li>
    <li class='nav'><a class='nav' href="{% url 'blog:help' %}">Help</a></li>
</ul>
<p class='title'>Routes</p>
<ul>
    <li><b>/</b> - all blogs</li>
    <br>
    <li><b>/blog/>blog_name<</b> - blog "blog_name"</li>
    <br>
    <li><b>/posts/</b> - all posts</li>
    <br>
    <li><b>/posts/topic/>topic_name<</b> - all posts by topic</li>
    <br>
    <li><b>/post/>post_id<</b> - detailed post by id</li>
    <br>
    <li><b>/authors/</b> - all authors</li>
    <br>
    <li><b>/authors/>author_id<</b> - detailed author information</li>
</ul>
</body>
</html>