<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/content/style.css' %}">
    <title>Antihabr</title>
</head>
<body>
<ul class='nav'>
    <li class='nav'><a class='nav' href="{% url 'blog:index-page' %}">Blogs</a></li>
    <li class='nav'><a class='nav' href="{% url 'blog:posts' %}">Posts</a></li>
    <li class='nav'><a class='nav' href="{% url 'blog:authors' %}">Authors</a></li>
    <li class='nav'><a class='nav' href="{% url 'blog:help' %}">Help</a></li>
</ul>
<p class='title'>Routes</p>
<ul>
    <a href="{% url 'blog:index-page' %}"><li class='list'><b>/</b> - all blogs</li></a>
    <br>
    <a href="{% url 'blog:blog' blog %}"><li class='list'><b>/blog/>blog_name<</b> - blog "blog_name"</li></a>
    <br>
    <a href="{% url 'blog:posts' %}"><li class='list'><b>/posts/</b> - all posts</li></a>
    <br>
    <a href="{% url 'blog:posts_topic' topic %}"><li class='list'><b>/posts/topic/>topic_name<</b> - all posts by topic</li></a>
    <br>
    <a href="{% url 'blog:post' post %}"><li class='list'><b>/post/>post_id<</b> - detailed post by id</li></a>
    <br>
    <a href="{% url 'blog:authors' %}"><li class='list'><b>/authors/</b> - all authors</li></a>
    <br>
    <a href="{% url 'blog:author' author %}"><li class='list'><b>/authors/>author_id<</b> - detailed author information</li></a>
</ul>
</body>
</html>