{% extends 'blog/base.html' %}

{% block title%}
Author {{author.first_name}}{{author.last_name}}
{% endblock title %}

{% block content %}
<p class='title'>Routes</p>
<ul>
    <a href="{% url 'blog:index-page' %}"><li class='list'><b>/</b> - all blogs</li></a>
    <br>
    <a href="{% url 'blog:blog' blog %}"><li class='list'><b>/blog/>blog_name<</b> - blog "blog_name"</li></a>
    <br>
    <a href="{% url 'blog:posts' %}"><li class='list'><b>/posts/</b> - all posts</li></a>
    <br>
    <a href="{% url 'blog:posts_topic' topic %}"><li class='list'><b>/posts/topic/>topic_name<</b> - all posts by topic</li></a>
    <br>
    <a href="{% url 'blog:post' post %}"><li class='list'><b>/post/>post_id<</b> - detailed post by id</li></a>
    <br>
    <a href="{% url 'blog:authors' %}"><li class='list'><b>/authors/</b> - all authors</li></a>
    <br>
    <a href="{% url 'blog:author' author %}"><li class='list'><b>/authors/>author_id<</b> - detailed author information</li></a>
    <br>
    <a href="{% url 'blog:new_author' %}"><li class='list'><b>/newauthor/</b> - register new author</li></a>
    <br>
    <a href="{% url 'blog:new_blog' %}"><li class='list'><b>/newblog/</b> - create new blog</li></a>
    <br>
    <a href="{% url 'blog:new_post' %}"><li class='list'><b>/newpost/</b> - create new post</li></a>
</ul>
{% endblock content %}