{% extends 'blog/base.html' %}

{% block title%}
Profile {{profile.first_name}} {{profile.last_name}}
{% endblock title %}

{% block content %}
<p class='title'>{{ post.title }}</p>
<div>
	<b>{{ post.text }}</b>
	<hr>
	<small>
		{{ post.date_published }}
		<li>
			<a href="{% url 'blog:author' post.author.id %}">AUTHOR</a>
			{% if user.is_authenticated %}
				{% if request.META['REMOTE_ADDR'] not in post.liked_users[post.id] %}
				<a href="{% url 'blog:like_post' post.id%}" class='like'>LIKE</a>
				{% else %}
				<a href="{% url 'blog:unlike_post' post.id%}" class='like'>UNLIKE</a>
				{% endif %}
			{% endif %}
		</li>
	</small>
</div>
<hr>
<p class='title'>Comments</p>
{% if user.is_authenticated %}
	<form action="{% url 'blog:post_comment' post.id %}" method="post">{% csrf_token %}
		<input type='text'>
		<input type="submit" value="Save"/>
	</form>
{% endif %}
<div>

	<ul>
		{% for comment in comments %}
			<li>
				<a href="{% url 'blog:author' comment.author.id %}">{{ comment.author }}</a>
				{{ comment.date_published }}
				{% if user.is_authenticated %}
					<a href="{% url 'blog:like_comment' comment.id %}" class='like'>LIKE</a>
				{% endif %}
			</li>
			<div class="post">{{ comment.text }}</div>
			<br>
		{% endfor %}
	</ul>
</div>
{% endblock content %}